@import "tailwindcss";

@theme {
  --color-primary: #00e676;
  --color-secondary: #6a1b9a;
  --color-accent: #ff3d00;
  --color-dark: #121212;
  --color-light: #f5f5f5;
  --color-card: rgb(45, 45, 45);

  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(20% 0 0);
}


.dark {
  --color-background: oklch(20% 0 0);
  --color-foreground: oklch(98% 0 0);
}